<%- include('partials/head'); %>
    <div>
        <section>
            <section id="playerContainer">
                <h2>Active players</h2>
                <ul id="listOfPeople"></ul>
            </section>
             <!-- A simple chat - RTW -->
            <section id="chat">
                <h1>Anonieme chat</h1>
                <ul></ul>
                <div class="fallback"></div>
                <form>
                    <input type="text" autocomplete="off" placeholder="Type a message">
                    <button><span>Send</span></button>
                </form>
            </section>
        </section>
        <!-- coffee guessing game -->
        <section>
            <h2>Guess the Coffee</h2>
            <p>Look at the image below and select the correct coffee name:</p>
            <div id="coffeeImg"></div>
            <div id="answersBtn"></div>
            <button id="showCoffee">New Coffee</button>
        </section>
    </div>
    <%- include('partials/footer'); %>