<%- include('partials/head'); %>
    <section>
        <!-- <h1><span>â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—
                â–ˆâ–ˆâ•”â•â•â–ˆâ–ˆâ•—â–ˆâ–ˆâ•”â•â•â–ˆâ–ˆâ•—â–ˆâ–ˆâ•”â•â•â•â•â•â–ˆâ–ˆâ•”â•â•â•â•â•â–ˆâ–ˆâ•”â•â•â•â•â•â–ˆâ–ˆâ•”â•â•â•â•â•
                â–ˆâ–ˆâ•‘â–‘â–‘â•šâ•â•â–ˆâ–ˆâ•‘â–‘â–‘â–ˆâ–ˆâ•‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–‘â–‘
                â–ˆâ–ˆâ•‘â–‘â–‘â–ˆâ–ˆâ•—â–ˆâ–ˆâ•‘â–‘â–‘â–ˆâ–ˆâ•‘â–ˆâ–ˆâ•”â•â•â•â–‘â–‘â–ˆâ–ˆâ•”â•â•â•â–‘â–‘â–ˆâ–ˆâ•”â•â•â•â–‘â–‘â–ˆâ–ˆâ•”â•â•â•â–‘â–‘
                â•šâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•”â•â•šâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•”â•â–ˆâ–ˆâ•‘â–‘â–‘â–‘â–‘â–‘â–ˆâ–ˆâ•‘â–‘â–‘â–‘â–‘â–‘â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ•—
                â–‘â•šâ•â•â•â•â•â–‘â–‘â•šâ•â•â•â•â•â–‘â•šâ•â•â–‘â–‘â–‘â–‘â–‘â•šâ•â•â–‘â–‘â–‘â–‘â–‘â•šâ•â•â•â•â•â•â•â•šâ•â•â•â•â•â•â•</span> â˜• guessing game</h1> -->
        <h1>â„‚ğ• ğ•—ğ•—ğ•–ğ•– ğ•˜ğ•¦ğ•–ğ•¤ğ•¤ğ•šğ•Ÿğ•˜ ğ•˜ğ•’ğ•ğ•– â˜•</h1>
        <h2>Active players</h2>
        <ul id="listOfPeople"></ul>
    </section>

    <section>
        <!-- Chat -->
        <section id="chat">
            <h2>Anonieme chat</h2>
            <ul></ul>
            <span class="fallback"></span>
            <form id="formChat">
                <input id="inputChat" type="text" autocomplete="off" placeholder="Type a message">
                <button><span>Send</span></button>
            </form>
        </section>

        <!-- Coffee guessing game -->
        <section id="coffeeGame">
            <h2>Guess the Coffee</h2>
            <section>
                <p id="rounds"></p>
                <p id="score"></p>
            </section>
            <p>Look at the image below and select the correct coffee name:</p>
            <section>
                <p id="rounds"></p>
                <p id="score"></p>
            </section>
            <figure id="coffeeImg"></figure>
            <section id="answersBtn"></section>
        </section>
    </section>
    <%- include('partials/footer'); %>
        <!--- source: symbol https://fsymbols.com/ -->