*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --whiteColor: #fff;
  --lightYellow: #fffcf2;
  --mainBg: #ececec;
  --coffeeColor: #dab88b;
  --titleColorMain: #380505;
  --titleColorPink: #d78988;
  --titleColorBtn: #802f2f;
}

body {
  background-color: var(--mainBg);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.15rem;
  padding: 1rem;
  color: var(--titleColorMain);
}

p {
  font-size: 1rem;
}

main {
  display: flex;
}

/*container with active players*/
main>section:first-of-type {
  width: 20vw;
  height: 100vh;
  background: var(--coffeeColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--titleColorMain);
}

main>section:first-of-type h1 {
  margin: 1em;
}

/*list of active players */
main>section:first-of-type>ul#listOfPeople {
  overflow-x: scroll;
  height: 100%;
  max-height: 5em;
  width: 90%;
  margin-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
}

/* Container with chat and game */
main>section:nth-of-type(2) {
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat and game container styling */
section#chat,
section#coffeeGame {
  width: 20rem;
  height: 35rem;
  background: #fffcf2;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#chat {
  margin-right: 0.3em;
}

/* chat styling */
/* chat message styling */
section#chat ul {
  margin: 0 !important;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 18em;
  overflow-y: scroll;
  max-height: 30em;
  margin: 0.5em 0;
}

section#chat ul>li {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: var(--titleColorPink);
  background-color: #f0f0f0;
  margin: 0.2em;
  border-radius: 0.3em;
}

/* chat input styling */
section#chat form {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 18rem;
  height: 2rem;
  display: flex;
}

section#chat form input[type="text"] {
  margin: 0;
  padding: 0 1rem;
  border: none;
  height: 2rem;
  flex-grow: 2;
  background: rgb(239, 238, 238);
  box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

/* chat arrow button styling */
section#chat form>button {
  padding: 0 0.6rem 0 0.4rem;
  width: 2rem;
  background: rgb(239, 238, 238);
  box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: 0;
  opacity: 80%;
  outline: none;
  transition: 0.2s;
}

section#chat form>button span {
  display: none;
}

section#chat form>button::after {
  content: "⇒";
}

section#chat form>button:hover {
  padding-left: 1rem;
}

section#chat form>button:active {
  padding-left: 1rem;
  color: red;
}

/* Game */
section#coffeeGame {
  color: var(--titleColorMain);
}

section#coffeeGame>h2 {
  background-color: var(--coffeeColor);
  color: var(--titleColorMain);
  width: 100%;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

section#coffeeGame>p:first-of-type {
  text-align: center;
  width: 90%;
}

/* score and round container */
section#coffeeGame>section:first-of-type {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  background-color: var(--coffeeColor);
  color: var(--titleColorMain);
}

section#coffeeGame>section:first-of-type p {
  font-size: 0.915rem;
  font-weight: bold;
}

figure#coffeeImg {
  margin: 1em;
  text-align: center;
}

figure#coffeeImg>img {
  height: 100%;
  max-height: 10em;
}

/* coffee buttons names container */
section#answersBtn {
  display: inline-grid;
  gap: 1em;
}

/*coffee buttons answers */
section#answersBtn>button,
button#restartButton {
  display: inline-block;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: var(--titleColorBtn);
  font-weight: normal;
  background: var(--coffeeColor);
  border: 0em;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

section#answersBtn>button:active,
button#restartButton:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  background-color: #9d9d9d;
}

section#answersBtn>button:hover,
button#restartButton:hover {
  background-color: rgb(151, 113, 113);
}

p#textGameOver {
  margin-bottom: 1em;
  text-align: center;
  display: grid;
}

p#textGameOver>span {
  margin-top: 0.8rem;
}

#restartButton {
  display: none;
}